---
layout: default
title: Brian Loh's Blog
---
	<h1>{{ "Grow with Bloh" }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
		{% if post.categories contains "gardening" %}
	    		<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  	{% endif %}
	{% endfor %}
	</ul>

	<h1>{{ "3D4Me" }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
		{% if post.categories contains "printing" %}
	    		<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  	{% endif %}
	{% endfor %}
	</ul>

	<h1>{{ "What's cookin?" }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
		{% if post.categories contains "cooking" %}
	    		<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  	{% endif %}
	{% endfor %}
	</ul>

	<h1>{{ "All" }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

